.instructions-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it appears on top */
  }
  
  .modal-content {
    background-image: url('../../../public/bj2.png'); /* Set the background image */
    background-size: cover; /* Make sure the image covers the entire modal */
    background-position: center; /* Center the image */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
  }
  
  .close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 932px) {
  .instructions-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background:none;
    transform: scale(0.9);
  }
}