.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  padding: 10px;
}

.function-btn {
  width: 180px;
  height: 90px;
  margin-bottom: 60px;
  margin-left: -100px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
  border-radius: 0;
}

.function-btn:hover {
  transform: scale(1.1);
}

@media (max-width: 932px) {
.function-btn {
  width: 120px;
  height: 60px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
  border-radius: 0;
  transform: scale(0.7);    
}
.sidebar {
  display: grid;
  grid-template-rows: repeat(4, auto);
  position: absolute;
  top: 70px;
  left: 150px;
}
}